body {
	font-family:"Roboto",Helvetica,Arial,sans-serif;
	font-size:15px;
	line-height:1.42857143;
	color:#333;
	background:#f7f5f5;
	margin:0
}

.container {
	margin:0 auto;
	padding:0 15px
}

.submit_n {
	border:1px solid #b32d01;
	height:40px;
	background:#ff5b00;
	background:linear-gradient(to bottom, #ff5b00 0, #ff1e00 100%);
	box-shadow:0 0 1px #f27a7d;
	-webkit-box-shadow:0 0 1px #f27a7d;
	-moz-box-shadow:0 0 1px #f27a7d
}

.submit_n,{
	font-size:21px;
	color:#fff;
	text-shadow:#706d6d 1px 1px 1px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px
}

.footer {
	padding-top: 20px;
	color: #776;
	border-top: 2px solid #e5e5e5;
}

.row h2 {
	padding-bottom: 19px;
	border-bottom: 1px solid #e5e5e5;
}

.email_psw {
	display:table-cell;
	vertical-align:top;
	padding:4% 5% 2%;
	text-align:right;
	width:30%
}
.campo {
	display:table-cell;
	vertical-align:middle;
	padding:2% 5%;
	width:70%
}

.box_b {
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}

.box_a{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	box-sizing: border-box;
}

.box{
    border: 1px solid #ccc;
    background: #fff;
    padding: 0;
    overflow: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.medidas_footer {
 	margin: 2% auto;
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    margin-left: auto;
	width: 450px;
}

.ventana_login {
 	margin: 2% auto;
    margin-top: 2%;
    margin-right: auto;
    margin-bottom: 2%;
    margin-left: auto;
	width: 390px;
}

.table_datos {
    display: table;
    width: 100%;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
    box-sizing: border-box;
}

