<div class="navbar navbar-inverse navbar-fixed-top mi-navbar">
    <div class="container-fluid">
        <div class="row">
            <div align="left" class="col-md-4 mi-row" >
                <img class="logo position_logo" alt="Loading  Content" src="../images/gato2.jpeg" width=55px height=60px/>

            </div>
            <div align="center" class="col-md-4 mi-row">
                <p class="text-muted" style="color:#FFFFFF">
                    <h3> Aca Hay Gato Encerrado</h3>
                </p>
            </div>
        
        </div>
    </div>
</div>
