<div class="laberintoSeleccionado">

  <div class="navbar navbar-default fondoBlanco"  ng-include="'views/navBarLobby.html'"></div>

  <div class="row body-position main container-fluid">
    <div class="col-xs-12 col-md-3" ng-include="'partials/panelIzq.html'" ng-controller="GatoController as appCont"></div>
    <div class="col-md-9">
      <div class="panel panel-default">

        <div class="panel-heading"> Laberintooo </div>
        
        <a href="#{{laberinto.id}}">nombre: {{laberinto.nombre}}</a>


      </div>
      <button type="button" class="btn btn-primary btn-sm"  aria-hidden="true"  ng-click="jugarEnHabitacion()">Jugar</button>
    </div>  
  </div>

</div>