<div class="prueba">
    <div class="">
      Categorías
    </div>
  
    <div class="">  
      <ul class="">
        <li class="" ng-repeat=""> 
        <!-- dentro del ng-repeat va el building de la propiedad donde saca los rep, de la list de laberintos -->
          <div class="">
            <!-- aca adentro hay que mostrar el path de la imagen y el nombre del laberinto y darle estilo             -->

            <!-- TAMBIEN: darle la funcionalidad de que sea una lista de laberintos que al tocarse se despliega con el detalle del laberinto O que se muestre al lado ese detalle con un boton jugar. -->
          </div>
        </li>
      </ul>
    </div>
  </div>