<div class="navbar navbar-default fondoBlanco"  ng-include="'views/navBarLogin.html'" ng-controller="LoginController as logCtrl"></div>

<section class="ventana_login">
	<div class="container">
    <div class="col-md-12 text-center ">
      <header class="col-md-4 text-center text-primary">
        <h4>Acceso para usuarios registrados</h4>
      </header>
    </div>
  
    <div>
      <div class="col-md-4 box table-datos" >
        <ul id="nomUsuario" class="">
          <li class="email_psw">Usuario</li>
        	<li class="campo">
            <input name="usuario" type="text" data-rule-required="true" class="" data-msg-required="Introducí tu usuario" />
          </li>
        </ul>
                
        <ul id="passw" class="campo">
        	<li class="email_psw">Contraseña</li>
	        <li class="campo">
    	        <input name="pwd" type="password" id="pwd" class="" data-rule-required="true" data-msg-required="Introducí tu clave" />
              <span> <small> ¿Has olvidado tu clave?</small></span>
          </li>
        </ul>
      </div>       
    </div>
  </div>  
  <div class="text-center">
    <div class="btn_position">
      <button type="button" class="btn btn-primary btn_position btn-sm"  aria-hidden="true"  ng-click="ingresar()">Ingresar</button>
    </div>
    
   	      <!-- aca si la contraseña es valida, mandar al lobby(mpa) o cambiar a la parte lobby(spa), aunque no lo tengo muy claro. Vi una directiva que era ng-if o algo asi. -->
    <!-- <div class="col-md-4 text-center"> -->
    <div class="registrar_position">
        <small> Si no estás registrado en GatoEncerrado <a href="partials/registroUsuario.html">registrate aquí</a></small>
    </div>
  </div>
</section>
