
<div class="navbar navbar-default fondoBlanco"  ng-include="'views/navBarLobby.html'"></div>

<div class="row body-position main container-fluid" ng-controller="GatoController as appCont">
  <div class="col-xs-12 col-md-3" ng-include="'partials/panelIzq.html'" ng-controller="GatoController as appCont">
  </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading"> Selecciona Laberinto </div>
      </div>
      <p align="center"> 
      <a><img src="images/Flecha-Izquierda.gif" width=100px height=100px></a>
    </div>	
</div>
