 <div class="content_form">
    <h2 class="text-primary">Registrate gratis en Gato Encerrado</h2>
    <ul class="form_reg">
        <input style="display:none" type="text" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>
        <li>
            <input type="text" id="txtName" class="cm-12" data-msg-required="Introducí tu nombre" placeholder="Nombre*" />
        </li>
        <li>
            <input type="text" id="txtSurname" class="cm-12" data-msg-required="Introducí tu apellido" placeholder="Apellido*" />
        </li>
        <li>
            <input type="text" class="cm-12" data-msg-required="Introducí tu dirección de e-mail" placeholder="Correo electrónico*" />
        </li>
        <li>
            <input type="password" class="cm-12" data-msg-required="Introducí una contraseña" data-msg-rangelength="Clave entre 4 y 8 caracteres" placeholder="Contraseña*" />
        </li>
        <li>
            <input type="number" maxlength="100" class="cm-13" data-msg-required="Introduce tu empleo deseado" />
        </li>
<li>
        <button type="button" class="btn submit_n  btn-sm"  aria-hidden="true"  ng-click="ingresar()">Ingresar</button>
</li>
    </ul>
</div>

